<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png"
          href="https://assets.gitlab-static.net/uploads/-/system/project/avatar/15139365/icon.png"/>
    <title>Sys Info</title>
    <style>
        a {color:#4588b7;}
        body {font-family:none;}
        code, nav span {color:#334f68;}
        h2 {padding-bottom:25px;}
        main {margin-top:75px;}
        tr td:first-child {min-width:250px;max-width:250px;}
    </style>
</head>

<body>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <div class="row">

            <nav id="sections" class="navbar navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="/">Sys Info</a>
                <span class="mr-auto">{{ si_uname_n }}{% if si_host_hostname %} on host {{ si_host_hostname }}{% endif %}</span>
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="#section-host">Host</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-container">Container</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-header">Header</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#section-route">Route</a>
                    </li>
                </ul>
            </nav>

            <div class="row">

                <h2 id="section-host">Host</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Hostname</td>
                        <td>
                            {% if si_host_hostname %}
                            <code>{{ si_host_hostname }}</code>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>

                    </tr>
                    <tr>
                        <td>OS Release file</td>
                        <td>
                            {% if si_host_osrel %}
                            <ul>
                                {% for l in si_host_osrel %}
                                <li>{{ l|capitalize }}: <code>{{ si_host_osrel[l] }}</code></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h2 id="section-container">Container</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>Directory</td>
                        <td>
                            {% if si_dir %}
                            <code>{{ si_dir }}</code>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>User</td>
                        <td>
                            {% if si_user %}
                            <code>{{ si_user }}</code>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>

                    </tr>
                    <tr>
                        <td>OS Release file</td>
                        <td>
                            {% if si_osrel %}
                            <ul>
                                {% for l in si_osrel %}
                                <li>{{ l|capitalize }}: <code>{{ si_osrel[l] }}</code></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Uname</td>
                        <td>
                            <ul>
                                <li>sysname: {% if si_uname_s %}<code>{{ si_uname_s }}</code>{% else %}n/a{% endif %}
                                </li>
                                <li>nodename: {% if si_uname_n %}<code>{{ si_uname_n }}</code>{% else %}n/a{% endif %}
                                </li>
                                <li>release: {% if si_uname_r %}<code>{{ si_uname_r }}</code>{% else %}n/a{% endif %}
                                </li>
                                <li>version: {% if si_name_v %}<code>{{ si_name_v }}</code>{% else %}n/a{% endif %}</li>
                                <li>machine: {% if si_name_m %}<code>{{ si_name_m }}</code>{% else %}n/a{% endif %}</li>
                            </ul>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h2 id="section-header">Header</h2>
                <table class="table">
                    <tbody>
                    {% for header in headers %}
                    <tr>
                        <td>
                            {{ header }}
                        </td>
                        <td>
                            <code>
                                {{ headers[header] }}
                            </code>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2 id="section-route">Route</h2>
                <table class="table">
                    <tbody>
                    <tr>
                        <td>
                            Referrer
                        </td>
                        <td>
                            {% if referrer %}
                            <code>{{ referrer }}</code>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Remote
                        </td>
                        <td>
                            {% if remote %}
                            <code>{{ remote }}</code>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>
                        <td>
                            Access route
                        </td>
                        <td>
                            {% if access_route %}
                            <ul>
                                {% for route in access_route %}
                                <li><code>{{ route }}</code></li>
                                {% endfor %}
                            </ul>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            IP route
                        </td>
                        <td>
                            {% if ip_route_list %}
                            <code>
                                {% for ip_route_line in ip_route_list %}
                                {{ ip_route_line }}<br>
                                {% endfor %}
                            </code>
                            {% else %}
                            n/a
                            {% endif %}
                        </td>
                    </tr>

                    <tr>
                        <td>
                            Traceroute
                        </td>
                        {% if traceroute_lists %}
                        <td>
                            {% for traceroute_list in traceroute_lists %}
                            <code>
                                {% for traceroute_line in traceroute_list %}
                                {{ traceroute_line }}<br>
                                {% endfor %}<br>
                            </code>
                            {% endfor %}
                        </td>
                        {% else %}
                        n/a
                        {% endif %}
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
</main>

<footer class="footer mt-auto py-3">
    <div class="container">
        <hr>
        <p class="text-muted copyright text-center">
            Generated by <a href="https://gitlab.com/sjugge/docker/sys-info-flask" target="_blank">Sys Info Flask</a>, a
            simple Dockerized Flask app to return system info. Intended for testing purposes.
        </p>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>
</html>
